<div class="wraper">
    <div class="top"
        [ngStyle]="stateChangeMainTop()">

        <div (click)="mainLeftFocus()" 
            class="mainleft" 
            [ngStyle]="stateChangeMainLeft()">

            {{ call.call[0].family }}

        </div>
        <!--
            "{'width': !(openMainLeft) ? ' 50% ' : '20%',
                        'height': !(openMainLeft) ? ' 100% ' : '150%'}"
        -->


        <div class="mainrigth" 
            [ngStyle]="stateChangeMainRigth()">

            <div (click)="mainRigthTopFocus()" 
                class="maintop"
                [ngStyle] ="stateChangeMainRigthTop()">
                {{ "bredd" + width }}

            </div>

            <div class="maindown"
                (click)="mainRigthDown()"
                 [ngStyle]="stateChangemaindown()">

                {{ isMobile }}

            </div>
        </div>
    </div>
    <div class="optionfield" 
        [ngStyle]="stateChangeMainOptionField()">
    </div>
</div>

<!--
    "{'height': !(openMainLeft) ? ' 4rem ' : '0',
                      'border-bottom' : !(openMainLeft) ? '1px solid #fff' : '0px solid #fff',
                      'transition'    :  (openMainLeft) ? 'all ease-in 500ms 0ms' : 'all ease-in 500ms 1000ms'}"
-->